<!DOCTYPE html>
<head>
    <title>Beauty Bar</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Anton&family=Tilt+Warp&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
</head>
<body>
<header>
    <h1>Beauty Bar</h1>
    <div class="container">
        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Friseur
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <% salons.forEach((salon) => {
                    salon.treatments.forEach((treatment) => {
                        if(treatment.type === 'hair'){ %>
                            <a class="dropdown-item" href="#"><%= treatment.name %></a>
                    <% }
                    })
                }); %>
            </div>
        </div>
        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" >
                Nägel
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <% salons.forEach((salon) => {
                    salon.treatments.forEach((treatment) => {
                        if(treatment.type === 'nail'){ %>
                            <a class="dropdown-item" href="#"><%= treatment.name %></a>
                    <% }
                    })
                }); %>
            </div>
        </div>
        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Haarentfernung
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <% salons.forEach((salon) => {
                    salon.treatments.forEach((treatment) => {
                        if(treatment.type === 'hairremove'){ %>
                            <a class="dropdown-item" href="#"><%= treatment.name %></a>
                    <% }
                    })
                }); %>
            </div>
        </div>
    </div>
</header>
<section>
    <form action="/find" method="post">
        <div class="form-group">
            <input type="search" name="searchForThis" class="form-control" id="tret" placeholder="Bechandlung:">
        </div>
        <div class="form-group">
            <input type="search" name="searchForThis" class="form-control" id="salon" placeholder="Salon:">
        </div>
        <button type="submit" class="btn" id="btn">Suchen</button>
        </form>
</section>
<script>
    const menu = document.querySelectorAll('.dropdown-menu')
    const btns = document.querySelectorAll('#dropdownMenuButton')

    btns.forEach((btn,index) => {
        btn.addEventListener('click',() => {
        menu[index].classList.toggle('show')
    })
})
////BUTTON SEARCH////////
</script>
</body>
</html>