<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Salon-Page</title>
</head>
<body>
    <div class="container">
        <h1>Salon Name</h1>
        <div class="image-div">
            <img src="" alt="">
        </div>
        <div class="">
        </div>
    </div>
</body>
</html>