*{
    padding: 0%;
    margin: 0%;
}
body{
    background-color: rgb(245, 227, 194);
}
.logo{
    padding-top: 40px;
    padding-left: 100px;
}

header{
    padding: 0;
    display: flex;
    flex-direction: row;
}

.container{
    display: flex;
    justify-content: end;
    padding-top: 40px;
}

.dropdown{
    position: relative;
    display: inline-block;
    padding-left: 10px;
    height: 36px;
}

.dropdown-menu{
    display: none;
    position: absolute;
}

.show{
    display: block;
}

/*////////SECTION////////////*/

form{
    padding-top: 50px;
    position: absolute;
    left: 50px;
}

#btn{
    background-color: rgb(243, 215, 163);
    border-radius: 10px;
}



